/* Write your CSS here */
.btn {
  border: none;
  padding: 5px;
  background-color: transparent;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  margin: 15px;
  cursor: pointer;
}
.red-btn {
  border-radius: 10px;
  background-color: transparent;
  color: #0284c7;
  border-color: #0284c7;
}

